<mat-toolbar color="primary" class="main-toolbar">
  <span>TeamOne</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</button>
  <button mat-button routerLink="/teams" routerLinkActive="active">Teams</button>
  <button mat-button routerLink="/players" routerLinkActive="active">Players</button>
  <button mat-button routerLink="/tree-selector" routerLinkActive="active">Selector</button>
</mat-toolbar>
<div class="main-div">
  <!-- <app-breadcrumbs></app-breadcrumbs> -->
  <router-outlet />
</div>